Chrome >= 21
ChromeAndroid >= 21
Edge >= 12
Explorer >= 11
Firefox >= 28
FirefoxAndroid >= 28
iOS >= 7
Opera >= 12.1
OperaMobile >= 12.1
QQAndroid >= 9.0
Safari >= 6.1
Samsung >= 4
UCAndroid >= 10.7
kaios >= 2.5
